.Employee {
  height: 50px;

  &:nth-child(even) {
    background-color: #ADD8E6;
  }

  &__cell,
  &__cell--id,
  &__cell--checkbox {
    text-align: center;
    width: 150px;
  }

  &__cell--checkbox {
    width: 15px;
  }

  &__cell--id {
    width: 25px;
  }
}


